coverage==4.0
docopt==0.6.2
ecdsa==0.13
Fabric==1.10.2
Flask==0.10.1
Flask-Boost==0.7.2
flask-mongoengine==0.7.1
Flask-Script==2.0.5
Flask-SocketIO==0.6.0
Flask-SQLAlchemy==2.0
Flask-WTF==0.12
gevent==1.0.2
gevent-socketio==0.3.6
gevent-websocket==0.9.5
greenlet==0.4.9
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mongoengine==0.10.0
MySQL-python==1.2.5
paramiko==1.15.3
pycrypto==2.6.1
pymongo==3.0.3
SQLAlchemy==1.0.8
Werkzeug==0.10.4
WTForms==2.0.2
