<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
</head>
<body>

 <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Todo</h3>
      </div>

      <div class="jumbotron" id="todo-container">
      </div>

      <footer class="footer">
        <p>&copy; jikexueyuan 2015</p>
      </footer>

    </div> <!-- /container -->

    <script type="text/javascript" src="../static/js/build/bundle.js"></script>

</body>
</html>